html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

fieldset {
  padding: 0;
}

.max-legnth {
  background-color: #fff;
}

h1 {
  border-bottom: 1px #000 solid;
}

input,
select,
textarea {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .grid:nth-child(3), .grid:first-child {
    padding-right: 1rem;
  }

}
